



@media screen, projection {

/* Buttonbreite */
button {
	widht: 300px;
}

/* Einheitliche Formatierung Eingaben */
input[type="text"],
select,
input[type="password"],
textarea {
	width:200px;
	padding: 2px;
    border: none;
}


/* Tabellen */
table,
td,
th{
	border:0;
}


.tdres {
	width: 100em;
	text-align: center;
}

.middle{
	text-align:center;
}

.bolt{
	font-weight:bold;
}
}


