/** Project: tennis
 *  Description: 
 *
 *  @creator       Thinkin' Tags v0.2 alpha
 *  @framework     YAML v4.02
 *  @file          screen.css
 */

@media screen, projection {
	
	#header {
		min-width: 700px;
		height: 130px;
		color: rgb(255,255,255);
		padding: 5px;
	}

	.ym-wrapper {
		background: rgb(89,180,212) ;
		margin: 0 auto;
		max-width: 95%;
		min-width: 700px;
		width: auto;
	}

	.ym-wbox 
	}

	#main {
		overflow: auto;
	}

	#index {
	}

	.ym-col1 {
	}

	.ym-cbox-left {
		
	}

	.ym-col2 {
	}

	.ym-cbox-right {
	}

	.ym-col3 {
	}

	.ym-cbox {
	}

	.ym-gbox-left {
		
	}

	.ym-gbox-right {
	}

}

