/** Project: tennis
 *  Description: 
 *
 *  @creator       Thinkin' Tags v0.2 alpha
 *  @framework     YAML v4.02
 *  @file          typography.css
 */

@media all {

	html * {
		font-size: 100.01%;
	}

	textarea,
	pre,
	code,
	kbd,
	samp,
	var,
	tt {
		font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
	}

	body {
		color: rgb(0,0,0);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 75.00%;
		height: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: rgb(0,0,0);
		font-family: "Times New Roman", Times, serif;
		font-weight: normal;
		margin: 0 0 0.25em 0;
	}

	h1 {
		font-size: 300%;
		text-align: center;
	}

	h2 {
		font-size: 200%;
		text-align: center;
	}

	h3 {
		font-size: 150%;
	}

	h4 {
		font-size: 133.33%;
	}

	h5 {
		font-size: 116.67%;
	}

	h6 {
		font-size: 116.67%;
	}

	ul,
	ol,
	dl {
		line-height: 1.5em;
		margin: 0 0 1em 1em;
	}

	ul {
		list-style-type: disc;
	}

	ul ul {
		list-style-type: circle;
	}

	ol {
		list-style-type: decimal;
	}

	ol ol {
		list-style-type: lower-latin;
	}

	li {
		line-height: 1.5em;
		margin-left: 0.8em;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0 0 1em 0.8em;
	}

	p {
		color: rgb(0,0,0);
		line-height: 1.5em;
		margin: 10px 10px 10px 10px;
	}

	blockquote,
	cite,
	q {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style: italic;
	}

	blockquote {
		color: #666;
		margin: 0 0 1em 1.6em;
	}

	strong,
	b {
		font-weight: bold;
	}

	em,
	i {
		font-style: italic;
	}

	big {
		font-size: 116.667%;
	}

	small {
		font-size: 91.667%;
	}

	pre {
		line-height: 1.5em;
		margin: 0 0 1em 0;
	}

	pre,
	code,
	kbd,
	tt,
	samp,
	var {
		font-size: 100%;
	}

	pre,
	code {
		color: rgb(0,0,0);
	}

	kbd,
	samp,
	var,
	tt {
		color: #666;
		font-weight: bold;
	}

	var {
		font-style: italic;
	}

	acronym,
	abbr {
		border-bottom: 1px #aaa dotted;
		cursor: help;
		font-variant: small-caps;
		letter-spacing: .07em;
	}

	sub,
	sup {
		font-size: 91.6667%;
	}

	hr {
		background: transparent;
		border: 0;
		border-bottom: 1px #eee solid;
		color: rgb(0,0,0);
		margin: 0 0 0.5em 0;
		padding: 0 0 0.5em 0;
	}

	a {
		background: transparent;
		color: rgb(0,0,0);
		text-decoration: none;
	}

	a:visited {
		color: #036;
	}

	a:focus,
	a:hover,
	a:active {
		color: #182E7A;
		text-decoration: underline;
	}

	p.icaption_left {
		display: inline;
		float: left;
		margin: 0 1em 0.15em 0;
	}

	p.icaption_right {
		display: inline;
		float: right;
		margin: 0 0 0.15em 1em;
	}

	p.icaption_left img,
	p.icaption_right img {
		border: 1px #888 solid;
		padding: 0;
	}

	p.icaption_left strong,
	p.icaption_right strong {
		background: #eee;
		display: block;
		font-size: 91.667%;
		font-weight: normal;
		margin-top: 2px;
		overflow: hidden;
		padding: 0.3em 0.5em;
	}

	.highlight {
		color: #c30;
	}

	.dimmed {
		color: #888;
	}

	.info {
		background: #f8f8f8;
		color: #666;
		font-size: 91.7%;
		margin-bottom: 0.5em;
		padding: 10px;
	}

	.note {
		background: #efe;
		border: 2px #484 solid;
		color: #040;
		margin-bottom: 1em;
		padding: 10px;
	}

	.important {
		background: #ffe;
		border: 2px #884 solid;
		color: #440;
		margin-bottom: 1em;
		padding: 10px;
	}

	.warning {
		background: #fee;
		border: 2px #844 solid;
		color: #400;
		margin-bottom: 1em;
		padding: 10px;
	}

	.float_left {
		display: inline;
		float: left;
		margin-bottom: 0.15em;
		margin-right: 1em;
	}

	.float_right {
		display: inline;
		float: right;
		margin-bottom: 0.15em;
		margin-left: 1em;
	}

	.center {
		display: block;
		margin: 0.5em auto;
		text-align: center;
	}

	table {
		border-bottom: 2px #888 solid;
		border-collapse: collapse;
		border-top: 2px #888 solid;
		margin-bottom: 0.5em;
		width: auto;
	}

	table caption {
		font-variant: small-caps;
	}

	table.full {
		width: 100%;
	}

	table.fixed {
		table-layout: fixed;
	}

	th,
	td {
		padding: 0.5em;
	}

	thead th {
		border-bottom: 2px #800 solid;
		color: rgb(0,0,0);
	}

	tbody th {
		background: #e0e0e0;
		border-bottom: 1px solid #fff;
		color: #333;
		text-align: left;
	}

	tbody th[scope="row"],
	tbody th.sub {
		background: #f0f0f0;
	}

	tbody td {
		border-bottom: 1px solid #eee;
	}

	tbody tr:hover th[scope="row"],
	tbody tr:hover tbody th.sub {
		background: #f0e8e8;
	}

	tbody tr:hover td {
		background: #fff8f8;
	}

}

