{% extends "layout.twig" %}
	{% block title %}
		{{ parent() }}
			Alles sperren
	{% endblock %}
		
	{% block body %}
		{{ parent() }}
		
		{# Aufforderung löschen bestätigen #}		
		{% if gesperrt %}
			
		{% else %}
			<table>
				<form method="post" action="../php/platzsperren.php">
				
				<tr>
					<td>
						<input type="text" name="grund" />
					<input type="hidden" name="allessperren">
	   		    	<input type="hidden" name="bestaetigt">
					<button type="submit">Pl&auml;tz sperren</button>
					</td>
					
					<td>
						{% if gesperrt %}
							
						{% else %}
						
							<div class="ui-widget logfehler">
								<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
									<p>
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
										</span>
										
										<strong>Achtung: </strong>
										
										Bitte geben Sie einen Grund an, warum alle Pl&auml;tze gesperrt werden sollen.
										
									</p>
								</div>
							</div>
							
							</br>
														
						{% endif %}
					</td>
				</tr>
				</form>
			</table>
		{% endif %}
		
	{% endblock %}
