{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		{# Aufforderung löschen bestätigen #}		
		{% if gesperrt %}
			
		{% else %}
			<table>
				<form method="post" action="../php/platzsperren.php">
				
				<tr>
					<td>
						<input type="text" name="grund" />
					<input type="hidden" name="allessperren">
	   		    	<input type="hidden" name="bestaetigt">
					<button type="submit">Pl&auml;tz sperren</button>
					</td>
					
					<td>
						{% if gesperrt %}
							
						{% else %}
							<p class="box error">
								Bitte geben Sie einen Grund an, warum alle Pl&auml;tze gesperrt werden sollen.
								</br>
							</p>
							
						{% endif %}
					</td>
				</tr>
				</form>
			</table>
		{% endif %}
		
	{% endblock %}
