{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			 
			{# Fehlerdesign J-Query #}
			{% if sperrfehler == 1 or pasfalsch or keinemail %}
				<div class="ui-widget">
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; width: 400px">
						<p>
							<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
							</span>
							
							<strong>Achtung: </strong>
							
							{% if sperrfehler == 1 %}
									Der User, mit dem Sie sich anmelden m&ouml;chten, ist gesperrt, 
									bitte wenden Sie sich an Ihren Administrator.
							{% endif %}
							
							{% if pasfalsch %}
									Username oder Passwort falsch!
							{% endif %}
							
							{% if keinemail %}
									Bitte Daten vollst&auml;ndig ausf&uuml;llen!
							{% endif %}
							
							
						</p>
					</div>
				</div>
			{% endif %}
			
			</br>
					
					
			<div>
				Bitte geben Sie Ihre Login-Daten ein:
				</br>
				<form method="post" action="../php/LogIn.php">
				Username: <br />
				<input type="text" name="email" size="20" />
				<br />
				Passwort: <br />
				<input type="password" name="passwort" size="20" /><br />
				<button type="submit" >Login</button>
				</form>
			</div>
			
		{% endblock %}