{% extends "layout.twig" %}
		{% block title %}
			{{ parent() }}
			Anmeldung
		{% endblock %}
		
        {% block body %}
			  {{ parent() }}
			
			<div id="head">
				<h2 id="headline1">
					Herzlich Willkommen auf der Startseite von Tennis Reservierung Online
				</h2>
				<h3 id="headline2">
					Sie m&uuml;ssen ein Mitglied des TC-Imst sein, um sich anmelden zu k&ouml;nnen.
				</h3>
			</div>
					
			<div class = "anmelde">
				<div class = "anmeldeinh">
					<h3>Bitte geben Sie Ihre Login-Daten ein:</h3>
					</br>
					<form method="post" action="../php/LogIn.php">
					
					<table>
						<tr>
							<td>
								<b>Username:</b>
							</td>
							<td>
								<input type="text" name="email" size="20" />
					
							</td>
						</tr>
						<tr>
							<td>
								<b>Passwort:</b>
							</td>
							<td>
								<input type="password" name="passwort" size="20" />
							</td>
						</tr>
						
					</table>
					
					<br />
					<div id="logbutton"><button type="submit" >Login</button></div>
					</form>
				</div>
			</div>
			
			
			{# Fehlerdesign J-Query #}
			{% if sperrfehler == 1 or pasfalsch or keinemail %}
				<div class="ui-widget logfehler">
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
						<p>
							<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
							</span>
							
							<strong>Achtung: </strong>
							
							{% if sperrfehler == 1 %}
									Der User, mit dem Sie sich anmelden m&ouml;chten, ist gesperrt, 
									bitte wenden Sie sich an Ihren Administrator.
							{% endif %}
							
							{% if pasfalsch %}
									Username oder Passwort falsch!
							{% endif %}
							
							{% if keinemail %}
									Bitte Daten vollst&auml;ndig ausf&uuml;llen!
							{% endif %}
							
							
						</p>
					</div>
				</div>
				
			{% endif %}
			
			</br>
			auswahl:
			<form method="post" action="">
				
				<select name = "abc" class="test2">
					<option>test1</option>
					<option>test2</option>
					<option>test3</option>
				</select>
				
			</form>
			
			<div id="test3" ><h1>Halooooo</h1></div>
				
			
		{% endblock %}