{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		Farben
		</br>
		</br>
		
		<form method="post" action="../php/benutzeranlegen.php">
			<select name="geschlecht" >
				<option id="rot">Herr</option>
				<option >Frau</option>
			</select>
		</form>
		
		
	{% endblock %}
