{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		<div>Farben</div>
		
		</br>
		</br>
		Sie k&ouml;nnen folgende Farben ausw&auml;hlen:
		</br>
		
		<form method="post" action="../php/farben.php">
			Platz frei:
			<select name="frei" >
				{% for key, value in farbarray %}
				<option style="background-color:#{{ key }}">{{ value }}</option>
				{% endfor %}
			</select>
			
			</br>
			</br>
			
		</form>
		
		
	{% endblock %}
