{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			
			<table>
				<th>
					<td></td>
									
					{% for z in zeit.OffenVon..zeit.OffenBis %}
						<td>{{ z }} Uhr</td>
					{% endfor %}
				</th>
				{% for p in platz %}
					<tr>
						<td>{{ p.PlatzNr }}</td>
					</tr>
				{% endfor %}
				
			
			
			
			
			
			
			
			
			
			
			
			
			</table>
			
			
			
			
			
	
		{% endblock %}
