{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			
			<table>
				<th>
					<td></td>
					
					
					{% for i in zeit.OffenVon..zeit.OffenBis %}
						<td>{{ i }}</td>
					{% endfor %}
				</th>
				
			
			
			
			
			
			
			
			
			
			
			
			
			</table>
			
			
			
			
			
	
		{% endblock %}
