{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			
			<table>
				<th>
					
					
					{% for p in platz %}
						<td class="tdown">{{ p.PlatzNr }}</td>
					{% endfor %}			
					
				</th>
				
				{% for z in zeit.OffenVon..zeit.OffenBis %}
					<tr>
						<td>{{ z }} Uhr</td>
						{% for p in platz %}
							<td>
								
							
							
							
							</td>
						
						{% endfor %}
					</tr>
				{% endfor %}
			
			
			
			
			
			
			
			
			
			
			
			
			</table>
			
			
			
			
			
	
		{% endblock %}
