{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			
			<table>
				<th>
					<td></td>
					
					{{ zeit.OffenVon }}
					{% for i in zeit.offenVon..zeit.offenBis %}
						{{ i }}
					{% endfor %}
					
					{% for p in platz %}
						{{ p.Platz_ID }}
					{% endfor %}
				</th>
			
			
			
			
			
			
			
			
			
			
			
			
			</table>
			
			
			
			
			
	
		{% endblock %}
