

	{# Wenn Login gegeben ist #}
	{% if login %}
		
		{#<div id="datepicker">#}
			
			</br>
			<p>Datum ausw&auml;hlen:</p>
			</br>
			<form method="post" action="../php/home.php">
			<input id="datepicker"  type="text" value="zum Ausw&auml;hlen klicken"/>
			</br>
			<button type="submit" class="ym-button ym-play">Datum ausw&auml;hlen</button>
			</form>
		</div>
		</br>
		
		
    	
		<ul class="menu">
			
			<li><a href="../php/home.php">Home</a></li>
			<li><a href="../php/meinereservierungen.php">
				{% if benutzerrecht == 1 %}
					Reservierungen
				{% else %}
					Meine Reservierungen
				{% endif %}
			</a></li>
			<li><a href="../php/benutzereinstellungen.php">Benutzereinstellungen</a></li>
			
		
	{% endif %}
    
    
    
    {# Wenn rechtrecht = 1 #}
    {% if rechtrecht == 1 %}
    
			<li><a href="../php/rechte.php">Rechte Verwalten</a></li>
		     
	{% endif %}
    
    {% if platzrecht %}
    
   		 <li><a href="../php/plaetze.php">Pl&auml;tze</a></li>
			   
	{% endif %}
	
	
	{% if farbrecht %}
	
		<li><a href="../php/farben.php">Farben</a></li>
		
	{% endif %}
	
	
	{% if allgemeinrecht %}
	
		<li><a href="../php/allgemein.php">Allgemein</a></li>
		
	{% endif %}
    
    
    {% if login %}
    	
    	
		  <li><a href="../php/logout.php">Logout</a></li>
		</ul>
    	
    	
	{% endif %}
    
    </br>
    </br>

    	