<!DOCTYPE html>

<html>
	<head>
		 <meta charset="UTF-8" />
         <title>{% block title %}TRON{% endblock %}</title>
         
         {#Scripte und importe ausgelagert#}
		 {% block script %}
         	{% include 'script.twig' %}
		 {% endblock %}
         
    	
    </head>
    <body>
    	<div id="header">
 			<div class="ym-wrapper">
    			<div class="ym-wbox">
		    		
			    	{% block header %}
			    		{% include 'header.twig' %}
			    	{% endblock %}
			    
			    </div>
			 </div>
		</div>
		<div id="main">
			  <div class="ym-wrapper">
			    	<div class="ym-wbox">
			      	
			        	<div class="ym-g20 ym-gl">
			       			<div class="ym-gbox-left">
		   	
						    	{% block index %}
						    		{% include 'index.twig' %}
								{% endblock %}
					
		    				</div>
		       			</div>
		       			<div class="ym-g80 ym-gr">
	          				<div class="ym-gbox-right">
		    	
						        {% block body %}
						       		
								{% endblock %}
				
				  			</div>
		        		</div>
		    		</div>
		  		</div>
			</div>
		
    </body>
</html>