{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}

		<table>
				<form method="post" action="../php/platzsperren.php">
				
				<tr>
					<td>
						<input type="text" name="grund" />
						<input type="hidden" name="{{ pid }}">
				   		<input type="hidden" name="bestaetigt">
						<button type="submit">Platz sperren</button>
					</td>
					
					<td>
						{% if gesperrt %}
							
						{% else %}
							<p class="box error">
								Bitte geben Sie einen Grund an, warum der Platz gesperrt werden soll.
								</br>
							</p>
							
						{% endif %}
					</td>
				</tr>
				</form>
			</table>
		
	{% endblock %}
