{% extends "layout.twig" %}
	{% block title %}
		{{ parent() }}
		Platz l&ouml;schen
	{% endblock %}
		
	{% block body %}
		{{ parent() }}
	
				<form method="post" action="../php/platzloeschen.php">
				
					{% if geloescht %}
				
						<div class="important">Platz wurde aus der Datenbank gel&ouml;scht.</div>
						
					{% else %}
				
						<div class="ui-widget">
							<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; width: 400px; text-align: center;">
								<p>
									
									<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
									</span>
								
									<strong>Achtung: </strong>
									
									Wenn Sie mit l&ouml;schen best&auml;tigen, wird der Platz unwiederruflich gel&ouml;scht!
												
								</p>
							</div>
						</div>
					
						
						</br>
						</br>
		 				<h3>Sind Sie sicher?</h3>
						</br>
						
						{% if geloescht == false %}
							<input type="hidden" name="{{ pid }}">
					   		<input type="hidden" name="bestaetigt">
							<button type="submit">Platz l&ouml;schen</button>
						{% endif %}
						
					{% endif %}
						
				</form>
						
					
		
		
	{% endblock %}
