{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		<table>
			<form method="post" action="../php/platzsperren.php">
				
				<tr>
					<td>
						<input type="text" name="grund" />
						<input type="hidden" name="{{ pid }}">
				   		<input type="hidden" name="bestaetigt">
						<button type="submit">Platz sperren</button>
					</td>
					
					<td>
						{% if gesperrt %}
							
						{% else %}
							
							<div class="ui-widget logfehler">
								<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
									<p>
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
										</span>
										
										<strong>Achtung: </strong>
										
										Bitte geben Sie einen Grund an, warum der Platz gesperrt werden soll.
										
									</p>
								</div>
							</div>
						<br />
						{% endif %}
					</td>
				</tr>
			</form>
		</table>
		
	{% endblock %}
