{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		{# Aufforderung löschen bestätigen #}
		{% if rechtrecht == 1 %}
		
			<table>
				<form method="post" action="../php/rechtloeschen.php">
				
				<tr>
					<td>
						<input type="hidden" name="{{ rid }}">
				   		<input type="hidden" name="bestaetigt">
						<button type="submit">Recht l&ouml;schen</button>
					</td>
					
					<td>
						{% if geloescht %}
							{{ rechtname }}-Recht wurde aus der Datenbank gel&ouml;scht.
						{% else %}
							<p class="box error">
								Wenn Sie mit l&ouml;schen best&auml;tigen, wird das Recht ({{ rechtname }}) unwiederruflich gel&ouml;scht!
								</br>
								Sind Sie sicher?
							</p>
							
						{% endif %}
					</td>
				</tr>
				</form>
			</table>
			
		{% endif %}
		
	{% endblock %}
