{% extends "layout.twig" %}
	{% block title %}
		{{ parent() }}
		Reservierung l&ouml;schen
	{% endblock %}
		
	{% block body %}
		{{ parent() }}

		
			
				
				{% if geloescht %}

					<div class="important">Reservierung wurde aus der Datenbank gel&ouml;scht.</div>
					<form action="../php/meinereservierungen.php">
						<button type="submit">zur&uuml;ck</button>
					</form> 
							
				{% else %}
					
					<div class="ui-widget logfehler">
						<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
							<p>
								<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
								</span>
								
								<strong>Achtung: </strong>
								
								Wenn Sie mit l&ouml;schen best&auml;tigen, wird die Reservierung unwiederruflich gel&ouml;scht!
								
							</p>
						</div>
					</div>
					
					</br>
					</br>
					<h3>Sind Sie sicher?</h3>
					</br>
						
			<form method="post" action="../php/reservierungloeschen.php">		
					<input type="hidden" name="res" value="{{ reservierung.Reservierung_ID }}">
				  	<input type="hidden" name="geklickt">
				   	<input type="hidden" name="bestaetigt">
					<button type="submit">Reservierung l&ouml;schen</button>

				{% endif %}
				
			</form>
		
	{% endblock %}
