{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}

		<table>
				<form method="post" action="../php/reservierungloeschen.php">
				
				<tr>
					<td>
					{% if geloescht == false %}
						<input type="hidden" name="res" value="{{ reservierung.Reservierung_ID }}">
				   		<input type="hidden" name="geklickt">
				   		<input type="hidden" name="bestaetigt">
						<button type="submit">Reservierung l&ouml;schen</button>
					{% endif %}
					</td>
					
					<td>
						{% if geloescht %}
							Reservierung wurde aus der Datenbank gel&ouml;scht.
						{% else %}
							<p class="box error">
								Wenn Sie mit l&ouml;schen best&auml;tigen, wird die Reservierung unwiederruflich gel&ouml;scht!
								</br>
								Sind Sie sicher?
							</p>
							
						{% endif %}
					</td>
				</tr>
				</form>
			</table>
		
	{% endblock %}
