



@media screen, projection {

	/* index positionierung */
	#index{
		margin-top:20px;
	}
	
	
	table.tables {
		margin: 0 auto;
		width: 600px;
	}
	
	/* Buttonbreite */
	button {
		min-width: 100px;
	}
	
	.bt-middle{
		min-width:200px;
	}
	
	
	/* Einheitliche Formatierung Eingaben */
	input[type="text"],
	select,
	input[type="password"],
	textarea {
		width:200px;
		padding: 2px;
	    border: none;
	}
	
	
	.tdres {
		width: 100em;
		text-align: center;
	}
	
	
	/* Einzelzentrierung */
	.middle{
		
		padding:5px;
		text-align:center;
	}
	
	
	/* Fett */
	.bolt{
		font-weight:bold;
	}
	
	/* TC-Imst logo Header */
	#tc-imst{
		float:right;
		margin-top: 10px;
		margin-right: 10px;
	}
}


